@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --font-title: "DynaPuff", system-ui;
    --font-global: "Nunito Sans", sans-serif;
    --color-green: #5fff5f;
}

body{
    font-family: var(--font-global);
}